b
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{%block title%}{% endblock %}</title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>Space Blog</h2>
        <p>The Solar System is the gravitationally bound system of the Sun and the objects that orbit it. The Solar System formed 4.6 billion years ago from the gravitational collapse of a giant interstellar molecular cloud.</p>
        <p>The vast majority of the system's mass is in the Sun, with most of the remaining mass contained in the planet Jupiter. The four inner system planets—Mercury, Venus, Earth and Mars—are terrestrial planets, being composed primarily of rock and metal. The four giant planets of the outer system are substantially larger and more massive than the terrestrials. </p>
        <p>The two largest, Jupiter and Saturn, are gas giants, being composed mainly of hydrogen and helium; the next two, Uranus and Neptune, are ice giants, being composed mostly of volatile substances with relatively high melting points compared with hydrogen and helium, such as water, ammonia and methane.</p>
        <P>All eight planets have nearly circular orbits that lie close to the plane of the Earth's orbit, called the ecliptic.</P>
        <p><a href="{% url "blog:post_feed" %}">Subscribe to my RSS feed</a></p>
    </div>


</body>
</html>
